<div class="tw:grid">
	<div class="tw:mb-3">
		<mat-form-field appearance="outline" class="tw:w-full no-hint">
			<mat-label>Judul</mat-label>
			<input matInput placeholder="Judul" [formField]="formData.title" />
		</mat-form-field>

		@if (formData.title().touched() && formData.title().invalid()) {
			@for (error of formData.title().errors(); track error.kind) {
				<mat-error>{{ error.message }}</mat-error>
			}
		}
	</div>

	<div class="tw:mb-3">
		<mat-form-field appearance="outline" class="tw:w-full no-hint">
			<mat-label>Kategori</mat-label>
			<!-- msInfiniteScroll
			[complete]="allLoaded()"
			(infiniteScroll)="loadNextPage()"
			class="tw:max-h-5!" -->
			<mat-select [formField]="formData.categoryId">
				<mat-option value="">-- Pilih Kategori --</mat-option>
				@for (option of opt.category(); track $index) {
					<mat-option [value]="option.id">
						{{ option.label }}
					</mat-option>
				}
			</mat-select>
		</mat-form-field>

		@if (formData.categoryId().touched() && formData.categoryId().invalid()) {
			@for (error of formData.categoryId().errors(); track error.kind) {
				<mat-error>{{ error.message }}</mat-error>
			}
		}
	</div>

	<div class="tw:mb-3">
		<mat-form-field appearance="outline" class="tw:w-full no-hint">
			<mat-label>Thumbnail</mat-label>

			<input
				matInput
				[value]="formModel().thumbnailUrl || selectedFile()?.name || ''"
				disabled />
			<button
				mat-icon-button
				matSuffix
				class="tw:mr-4 tw:cursor-pointer"
				(click)="fileInput.click()">
				<fa-icon [icon]="faIcon.faPaperclip" />
			</button>

			<input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" />
		</mat-form-field>
	</div>

	<div class="tw:mb-3">
		<mat-form-field appearance="outline" class="tw:w-full no-hint">
			<mat-label>Konten Singkat</mat-label>
			<textarea matInput [formField]="formData.shortContent"></textarea>
		</mat-form-field>

		@if (formData.shortContent().touched() && formData.shortContent().invalid()) {
			@for (error of formData.shortContent().errors(); track error.kind) {
				<mat-error>{{ error.message }}</mat-error>
			}
		}
	</div>

	<div class="tw:mb-3">
		<textarea id="editor"></textarea>

		<!-- <article
			class="ck ck-content"
			[innerHTML]="formData.content().value() | sanitizeHtml"></article> -->

		@if (formData.content().touched() && formData.content().invalid()) {
			@for (error of formData.content().errors(); track error.kind) {
				<mat-error>{{ error.message }}</mat-error>
			}
		}
	</div>

	<p><mat-slide-toggle [formField]="formData.isPublish">Publish</mat-slide-toggle></p>

	<hr class="tw:text-gray-300 tw:my-3 tw:shadow" />

	<div class="tw:flex tw:justify-between tw:gap-6 tw:my-4">
		<button matButton class="tw:min-w-48!" (click)="goBackToList()">Kembali</button>
		<button matButton="filled" class="tw:min-w-48!" (click)="onSubmit()">Submit</button>
	</div>
</div>
